<h1><%= @board.name %></h1>
<div class="swimlane-container">
  <% @board.swimlanes.each do |swimlane| %>
    <%= render partial: "swimlanes/show", locals: {swimlane: swimlane } %>
  <% end %>

  <div id="last_swimlane">
    <%= render "add_swimlane" %>
  </div>
</div>
