.card-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  gap: 7px;
  padding: 1px 4px 0px;
  min-height: 24px;
}

.swimlane .card {
  display: block;
  flex: 0 1 4.5rem;
  margin-left: 0px;
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 20rem;
  width: 100%;
  cursor: pointer;
}
