<div>
  <span><%= swimlane.name %></span>
  <ul>
    <% swimlane.cards.each do |card| %>
      <%= render partial: "cards/card", locals: { card: card } %>
    <% end %>

    <li id=<%= "swimlane_#{swimlane.id}_last_card" %>>
        <%= render partial: "swimlanes/add_card", locals: { swimlane: swimlane } %>
    </li>
  </ul>
</div>
